
.body-content {
    height: 100vh;
     
}
.list_header {
    /* border: 2px solid green; */
    margin-bottom: 20px;
}

.list_header > img {
    margin-top: 30px;
}

.body-content h3 {
    letter-spacing: 2px;
    margin-bottom: 20px;
}