
.body-content {
    height: 100vh;
}
.list_header {
    /* border: 2px solid green; */
    margin-bottom: 20px;
}

.list_header > img {
    margin-top: 30px;
}

.body-content h3 {
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.sub_wrapper  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.home_wrapper {
}

.home_wrapper_scrolled {
    position: fixed;
    right: 10%;
    bottom: 10%;
}
 


  