.demo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.demo_button_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
}

.demo img {
    height: 150px;
    width: 200px;
}