.view_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    /* margin: 10px; */
    /* margin-top: 15px; */
    background-image: url('../RequestList/girl_moving.jpg')
}

.map_wrapper {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    transition: 0.3s;
}

.text_area {
    width: 100%;
    height: 150px;
    padding: 5px 10px;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 4px;
    color: white;
    background-color: rgb(148, 150, 150);
    resize: none;
    line-height: 1.3;
    margin-bottom: 10px;
    font-size: 13px;
    /* border: 2px solid red; */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
}

.text_wrapper{
    margin-left: 10px;
    margin-right: 10px;
    /* border: 2px solid red; */
}

.text_button_wrapper {
    margin-bottom: 10px;
    
}

.chat_wrapper {
    margin-bottom: 13px;
    margin-left: 10px;
    margin-right: 10px;
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1); */
}

/* Helper View */

.desc_wrapper {
    height: 150px;
    /* width: 100%; */
    padding: 10px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(154, 158, 158);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: white;
    border: 0.5px solid white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.commit_button_wrapper {
    margin-bottom: 15px;
}
